<Settings>
	<Mail>
		<To>eric@xenappblog.com</To>
		<From>eric@xenapptraining.com</From>
		<SMTP>email-smtp.us-east-1.amazonaws.com</SMTP>
		<PasswordFile>\\dc-01.ctxlab.local\xa\Credentials\AmazonSES.txt</PasswordFile>
		<KeyFile>\\dc-01.ctxlab.local\xa\Credentials\AmazonSES.key</KeyFile>
		<API></API>
	</Mail>
	<MDT>
		<Server>MDT-01</Server>
		<Domain>CTXLAB</Domain>
		<FQDN>CTXLAB.LOCAL</FQDN>
		<SQLServer>MDT-01</SQLServer>
		<SQLProdDatabase>Production</SQLProdDatabase>
		<SQLBuildDatabase>Build</SQLBuildDatabase>
		<SQLInstance>SQLEXPRESS</SQLInstance>
		<ElevatedUser>ctxlab\administrator</ElevatedUser>
		<PasswordFile>\\dc-01.ctxlab.local\xa\Credentials\CTXLAB.txt</PasswordFile>
		<KeyFile>\\dc-01.ctxlab.local\xa\Credentials\CTXLAB.key</KeyFile>
		<ProductionShare>\\mdt-01.ctxlab.local\mdtproduction$</ProductionShare>
		<BuildShare>\\mdt-01.ctxlab.local\mdtbuildlab$</BuildShare>
		<OU>OU=Servers,OU=Deployment,DC=ctxlab,DC=local</OU>
	</MDT>
	<Citrix>
		<Version>1909</Version>
		<XDC01>XADC-01.CTXLAB.LOCAL</XDC01>
		<XDC02>XADC-02.CTXLAB.LOCAL</XDC02>
		<SF01>SF-01.CTXLAB.LOCAL</SF01>
		<SF02>SF-02.CTXLAB.LOCAL</SF02>
		<LicenseServer>MDT-01.CTXLAB.LOCAL</LicenseServer>
		<ListofDDCs>XADC-01.CTXLAB.LOCAL XADC-02.CTXLAB.LOCAL</ListofDDCs>
		<SiteName>CTXLAB</SiteName>
		<FarmName>BRASIL</FarmName>
		<FullAdminGroup>Administrators</FullAdminGroup>
		<DomainAdminGroup>CTXLAB\Domain Admins</DomainAdminGroup>
		<LicensingModel>UserDevice</LicensingModel>
		<ProductCode>XDT</ProductCode>
		<ProductEdition>PLT</ProductEdition>
		<Port>27000</Port>
		<AddressType>WSL</AddressType>
		<WEMSvcAcc>ctxlab\svc-ctx-wem</WEMSvcAcc>
		<WEMSvcAccPwd>P@ssw0rd</WEMSvcAccPwd>
		<WEMAdminGroup>ctxlab\Domain Admins</WEMAdminGroup>
		<DBVuemUserPwd>P@ssw0rd</DBVuemUserPwd>
	</Citrix>
	<Netscaler>
		<Version>13.0-36.27_nc_64</Version>
		<FileExtension>.ovf</FileExtension>
		<Hostname>NSUG</Hostname>
		<Timezone>GMT-03:00-BRT-America/Fortaleza</Timezone>
		<NTPCountryCode>br</NTPCountryCode>
		<LicensePath>\\DC-01.CTXLAB.LOCAL\XA\Licenses\Netscaler</LicensePath>
		<NetScalerIP>192.168.10.250</NetScalerIP>
		<SubnetIP>192.168.10.251</SubnetIP>
		<UnifiedGatewayIP>192.168.10.252</UnifiedGatewayIP>
		<LDAPVIP>192.168.10.50</LDAPVIP>
		<ADFSVIP>192.168.10.51</ADFSVIP>
		<GSLBVIP>192.168.10.52</GSLBVIP>
		<ADNSVIP>192.168.10.53</ADNSVIP>
		<CWEMVIP>192.168.10.54</CWEMVIP>
		<DNSVIP>192.168.10.55</DNSVIP>
		<DIRVIP>192.168.10.56</DIRVIP>
		<LICVIP>192.168.10.57</LICVIP>
		<SFVIP>192.168.10.58</SFVIP>
		<Features>CS SSL SSLVPN REWRITE RESPONDER</Features>
		<SubnetMask>255.255.255.0</SubnetMask>
		<Gateway>192.168.10.1</Gateway>
		<NSName>NSUG</NSName>
		<MAC>00:50:56:b3:21:5d</MAC>
		<UserName>nsroot</UserName>
		<Password>nsroot</Password>
		<CertFile>\\DC-01.CTXLAB.LOCAL\XA\Certificates\Internal\wildcard.crt</CertFile>
		<CertFileShort>wildcard-internal.crt</CertFileShort>
		<KeyFile>\\DC-01.CTXLAB.LOCAL\XA\Certificates\Internal\wildcard.key</KeyFile>
		<KeyFileShort>wildcard-internal.key</KeyFileShort>
		<WildCardCertDescription>wildcard.xenapptraining.com</WildCardCertDescription>
		<CertRootFile>\\DC-01.CTXLAB.LOCAL\XA\Certificates\DigiCertCA.crt</CertRootFile>
		<CertRootFileShort>DigiCertCA.crt</CertRootFileShort>
		<CertRootFileDescription>DigiCertCA</CertRootFileDescription>
		<LDAPServer>192.168.1.10</LDAPServer>
		<RootDC>dc=ctxlab,dc=local</RootDC>
		<BindAccount>svc-ms-ldap@ctxlab.local</BindAccount>
		<BindPassword>P@ssw0rd</BindPassword>
		<StoreFrontURL>https://xadc-01.ctxlab.local/Citrix/UGWeb</StoreFrontURL>
		<Domain>ctxlab.local</Domain>
		<Controller>https://xadc-01.ctxlab.local</Controller>
		<DNSSuffix>ctxlab.local</DNSSuffix>
		<PortalTheme>RfWebUI</PortalTheme>
	</Netscaler>
	<Microsoft>
		<InternalCert>CTXLAB.LOCAL</InternalCert>
		<ExternalCert>XENAPPTRAINING.COM</ExternalCert>
		<DC01>DC-01.CTXLAB.LOCAL</DC01>
		<DC02>DC-02.CTXLAB.LOCAL</DC02>
		<Certificates>\\DC-01.CTXLAB.LOCAL\XA\Certificates</Certificates>
		<DatabaseServer>SQL-01.CTXLAB.LOCAL</DatabaseServer>
		<DatabaseFolderUNC>\\SQL-01.CTXLAB.LOCAL\C$\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\</DatabaseFolderUNC>
		<DatabaseFolder>C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\</DatabaseFolder>
		<DatabaseUser>CTXLAB\Administrator</DatabaseUser>
		<DatabasePassword>P@ssw0rd</DatabasePassword>
		<DatabasePasswordFile>\\dc-01.xenappblog.com\xa\Credentials\xenappblog.txt</DatabasePasswordFile>
		<DatabaseKeyFile>\\dc-01.xenappblog.com\xa\Credentials\xenappblog.key</DatabaseKeyFile>
	</Microsoft>	
	<VMware>
		<VCenter>vcsa.ctxlab.local</VCenter>
		<VCUser>administrator@vsphere.local</VCUser>
		<VCPwd></VCPwd>
		<PasswordFile>\\dc-01.ctxlab.local\xa\Credentials\VCSA.txt</PasswordFile>
		<KeyFile>\\dc-01.ctxlab.local\xa\Credentials\VCSA.key</KeyFile>
		<VMDiskType>Thin</VMDiskType>
		<VMDS>ESXi-01-NVMe</VMDS>
		<VMCluster>Fortaleza</VMCluster>
		<VMFolder>DEV</VMFolder>
		<DataCenter>Datacenter</DataCenter>
		<NICType>Vmxnet3</NICType>
		<NetName>vLAN10</NetName>
		<ISO>[QNAP]\MDTProduction_x64_UEFI.iso</ISO>
		<BuildISO>[QNAP]\MDTBuildLab_x64.iso</BuildISO>
		<ESXi>192.168.2.21</ESXi>	
		<VMGuestOS>windows9Server64Guest</VMGuestOS>	
	</VMware>
	<Nutanix>
		<CVM>nutanix.ctxlab.local</CVM>
		<User>powershell</User>
		<Pwd></Pwd>
		<PasswordFile>\\dc-01.ctxlab.local\xa\Credentials\Nutanix.txt</PasswordFile>
		<KeyFile>\\dc-01.ctxlab.local\xa\Credentials\Nutanix.key</KeyFile>
		<NetName>5bb43271-e655-4f07-8f41-4c8455df3d11</NetName>
		<NetUUID>5bb43271-e655-4f07-8f41-4c8455df3d11</NetUUID>
		<Container>SelfServiceContainer</Container>
		<ISO>MDTProduction_x64</ISO>
	</Nutanix>
</Settings>
